@model PropertyViewModelBase

<div class="dropdown">
    <button class="btn dropdown-toggle add-watchlist-toggle"
            data-property-id="@Model.Id"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        &plus;
    </button>
    <div class="dropdown-menu p-2"></div>
</div>