@model PropertyViewModelBase
@inject IUserData userData

@if (!userData.IsAdmin(User) && userData.GetCurrentUserId() != Model.OwnerId)
{
    <div class="dropdown">
        <button class="btn dropdown-toggle add-watchlist-toggle pt-0 pb-0"
                data-property-id="@Model.Id"
                type="button"
                title="Добави към списък"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <i class="fas fa-plus"></i>
        </button>
        <div class="dropdown-menu p-2"></div>
    </div>
}