@using Microsoft.AspNetCore.Identity
@using PropertyAds.WebApp.Data.Models; 
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn nav-link"
           asp-controller="Conversations"
           asp-action="List"><i class="fas fa-envelope"></i></a>
        <li class="dropdown">
            <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu pl-2" aria-labelledby="dropdownMenuButton">
                <a class="nav-link text-dark" asp-area="" asp-controller="Properties" asp-action="ListOwned">Създадени обяви</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Watchlists" asp-action="List">Списъци за наблюдение</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
