@model MessageServiceModel
@inject IUserData userData

@{
    var isAuthor = Model.Author.Id == userData.GetCurrentUserId();
}


<div class="card col-md-8 @(isAuthor ? "offset-md-4" : "")">
    <strong>@Model.Author.Email - @Model.CreatedOn</strong>
    <p>@Model.Content</p>
</div>
