.property-summary-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.property-details-carousel {
    background: darkgrey;
}

.property-detail-container {
    text-align: center;
}

.property-detail-image {
    max-height: 500px;
    width: initial;
}