@model PropertyFormModel

<partial name="_PageHeadingPartial" model="@("Редактирай обява")" />
<h1 class="text-center mb-5">Редактирай обява</h1>
<partial name="_PropertyFormPartial" model="@Model" />

@section Scripts {
    <script>
        var propertyForm = new PropertyForm();

        propertyForm.listenForPreview();
        propertyForm.listenForDistrictAndPropertyType();
        propertyForm.listenForPriceChange();
    </script>

    <partial name="_ValidationScriptsPartial" />
    <partial name="_ValidationScriptsExtensionsPartial" />
}